//Esto es scss
$secondary: #504e4e; 
$success: rgb(255, 255, 255);
$info: #333333; 
$primary: #a7a7a7;

.imagen{
    width: 200px;
    height: 50px;
}

.cr7{
    width: 70px;
    height: 50px;
    padding-right: 20px;
}

.imagen_card{
    width: 200px;
    height: 250px;
}

.imagen_cardProfesor{
    width: 200px;
    height: 280px;  
}

.espacioExpediente{
    padding-bottom: 65px;
}

.imagenDetalle{
    width: 100%;
    height: 300px;     
}

*{
    font-family: 'Open Sans', sans-serif;
    color: $info;
}

@import "../scss_boostrap/bootstrap.scss";
